@model IEnumerable<VK_Music.Models.Photo>

@{
    ViewBag.Title = "TrackList";
}
@section MyScript {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/sender1.js"></script>@* обновление версии*@
}

<h2>My Photo</h2>
<div align="right">Привет, @User.Identity.Name! @Html.ActionLink("[Выйти]", "Logoff", "Account")</div>
@*@using (@Html.BeginForm("Download", "Home"))
{*@
    <table>
        <tr>
            <th>Photo</th>
            <th>Likes</th>
            <th>Download?</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td> @*<span type="hidden" id="@p.Id"/>*@<img src="@p.Sizes.First().Url.AbsoluteUri" /></td>
                <td> @p.Likes.Count</td>
                <td> @Html.CheckBox(p.Id.ToString())</td>
            </tr>
        }
    </table>
    <br />
    <input type="button" onclick="Send('/Album/Download')" name="Download" value="Download selected" />
@*}*@